<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Application</title>
</head>
<body>
    
    {% include 'partials/table.html' %}

    <br>

    <h2>Select Application to Delete</h2>

    <form method="POST">
        {% csrf_token %}

        <label for="application_id">Select Application ID:</label>
        <select name="application_id" id="application_id">
            {% for id in applicationIDs %}
            <option value="{{ id }}">{{ id }}</option>
            {% endfor %}
        </select>

        {{form.errors}}
        <input type="submit" name="Edit Application">
    </form>

    <br>

    <button><a href="/applications">Applications</a></button>
    <button><a href="/createApplication">Create Applications</a></button>
    <button><a href="/editApplication">Edit Applications</a></button>
    <br>

    <button><a href="/logout">Log Out</a></button>


    {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}


</body>
</html>