<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <h1>Applications</h1>

    
    {% include 'partials/table.html' %}
    
    <br>

    <button><a href="/createApplication">Create Applications</a></button>
    <button><a href="/editApplication">Edit Applications</a></button>
    <button><a href="/deleteApplication">Delete Applications</a></button>
    <br>

    <button><a href="/logout">Log Out</a></button>

</body>
</html>