<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <h1>Applications</h1>

    {% for application in query %}

        <u><b>Application {{ forloop.counter }}:</b></u>
        <p><b>Company Name:</b> {{application.companyName}}</p>
        <p><b>Status:</b> {{application.status}}</p>
        <p><b>Application Deadline:</b> {{application.jobDeadline}}</p>
        <p><b>Date Applied:</b> {{application.applicationDate}}</p>
        <p><b>Job Description:</b> {{application.jobDescription}}</p>

        <br>

    {% endfor %}
</body>
</html>