<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Application</h1>

    {% include 'partials/table.html' %}

    <br>

    <form method="POST">
        {% csrf_token %}

        <label for="application_id">Select Application ID:</label>
        <select name="application_id" id="application_id">
            {% for id in applicationIDs %}
            <option value="{{ id }}">{{ id }}</option>
            {% endfor %}
        </select>

        {%for field in form%}
        
            
            <p>{{field.label}}: {{field}}</p>
        
        {% endfor %}

        {{form.errors}}
        <input type="submit" name="Edit Application">
    </form>

    <br>

    <button><a href="/applications">Applications</a></button>

    <br>

    <button><a href="/logout">Log Out</a></button>
</body>
</html>